.drop-icon {
    background: #4527A0;
    background: linear-gradient(to bottom, #7B1FA2, #4527A0);
    background: -webkit-linear-gradient(top, #7B1FA2, #4527A0);
    background: -moz-linear-gradient(top, #7B1FA2, #4527A0);
    border-radius: 100% 100% 0 100%;
    transform: rotateZ(45deg);
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.52);
}

.drop-icon__content {
    transform: rotateZ(-45deg);
}

.login-form__text {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #261136;
    border: 1px solid #4826A0;
    color: white;
}

.login-form__label {
    color: white;
}

body{
    background-image: url(../UrbanAxis/background-main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #7B1FA2;
}

.login-site__h2 {
    color: white;
}