/* Profile message */

.profile-message-btn {
    padding: 20px 50px;
    color: white;
    background-color: #431C60;
    border-radius: 2px;
    text-decoration: none;
    border: 4px solid transparent;
    outline: none !important;
    box-sizing: border-box;
}

.profile-message-btn:hover {
    background-color: #A648EB;
    cursor: pointer;
}

/* Profile message end */