/* Profile follow */

.profile-follow-btn {
    padding: 20px 0;
    width: 180px;
    color: white;
    background-color: transparent;
    border-radius: 2px;
    text-decoration: none;
    border: 2px solid white;
    outline: none !important;
    box-sizing: border-box;
}

.profile-follow-btn:hover {
    background-color: white;
    color: #431C60;
    cursor: pointer;
}


/* Profile follow end */