body{
    background: -webkit-linear-gradient(top, #7B1FA2, #4527A0);
    margin: 0;
}
.top_profilside{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 285px 1fr;
}
.tilbage-knap{
    top: 40px;
    position: absolute;
    height: 30px;
    left: 10px;
}
.profil__billed{
    width: 140px;
    height: 140px;
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
    border-radius: 100% 100% 100% 100%;
    position: absolute;
    top: 72px;
    right: 118px;
}
.h1__navn{
    grid-column: 1 / span 2;
    justify-self: center;
    margin: 0;
    color: white;
    font-family: "runda", sans-serif;
    font-weight: normal;
    position: absolute;
    top: 227px;
    right: 20px;
    left: 70px;
}
.h3__sted{
    justify-self: center;
    grid-column: 1 / span 2;
    padding: 15px;
    color: white;
    font-family: "runda", sans-serif;
    font-weight: normal;
    margin: 0;
    position: absolute;
    top: 256px;
    right: 100px;
}
.knapper{
    grid-column: 1 / span 2;
    display: flex;
    width: 80%;
    margin: 15px 0 0 0;
    justify-self: center;
    align-self: center;
}
.profile-follow-btn {
    padding: 20px 0;
    width: 180px;
    color: white;
    background-color: transparent;
    border-radius: 2px;
    text-decoration: none;
    border: 2px solid white;
    outline: none !important;
    box-sizing: border-box;
    margin: 0 20px 0 0;
    height: 80%;
    font-size: 12px;
}

.profile-follow-btn:hover {
    background-color: white;
    color: #431C60;
    cursor: pointer;
}
.profile-message-btn {
    padding: 20px 0;
    width: 180px;
    color: white;
    background-color: #431C60;
    border-radius: 2px;
    text-decoration: none;
    border: 2px solid transparent;
    outline: none !important;
    box-sizing: border-box;
    margin: 0 0 0 20px;
    height: 80%;
    font-size: 12px;

}
.profile-message-btn:hover {
    background-color: #A648EB;
    cursor: pointer;
}
.profilnav__bar__ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    justify-items: center; 
    list-style-type:none;
    background: #431C60;
    text-transform: uppercase;
    margin-top: 20px;

}
.profilnavbar__ul__li{
    width: 100%;
    text-align: center;
}
.nav__ul__a{
    text-decoration: none;
    color: #A648EB;
    padding: 20px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
}
.nav__ul__a--highlight{
    border-bottom-color: white;
    color: white;
}
.navigation__navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #431C60;
    padding: 15px;
}

.navigation__gradient {
    background: transparent;
    background: linear-gradient(to top, rgba(0,0,0,0.62), rgba(0,0,0,0));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.62), rgba(0,0,0,0));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.62), rgba(0,0,0,0));
    width: 100%;
    height: 90px;

}

.navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
}
