.drop-icon {
    background: #4527A0;
    background: linear-gradient(to bottom, #7B1FA2, #4527A0);
    background: -webkit-linear-gradient(top, #7B1FA2, #4527A0);
    background: -moz-linear-gradient(top, #7B1FA2, #4527A0);
    border-radius: 100% 100% 0 100%;
    transform: rotateZ(45deg);
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.52);
    margin-left: 15px;
}


.logo-text {
    margin: 40px;
    margin-top: 15vh;
    display: flex;
}

.drop-icon__content {
    transform: rotateZ(-45deg);
    height: 40px;
    width: 40px;
}

.login-form__text {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #261136;
    border: 1px solid #4826A0;
    color: white;
    font-family: "runda",sans-serif;
    font-size: 20px;
}

.login-form {
    width: 90%;
    margin: 0 auto;
}

.login-form__label {
    color: white;
    font-family: "runda",sans-serif;
    font-size: 15px;
}

body{
    background-image: url(../img/background-main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #301545;
}

.login-sitelogotext__h2 {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    color: white;
    font-size: 15px;
    align-items: center;
    padding: 35px 0 0 0;
    font-family: "runda",sans-serif;
    font-weight: normal;
    margin-left: 20px;
    font-size: 20px;    
}
.loginbutton{
    width: 100%;
    height: auto;
    font-size: 20px;
    margin: 30px 0;
    cursor: pointer;
    display: block;
    height: auto;
    padding: 20px 0;
    border: 0px;
    color: white;
    border-radius: 2px;
    background-color:#7B1FA2;
    background: linear-gradient(to left,#7B1FA2, #4527A0);
    background: -webkit-linear-gradient(right,#7B1FA2, #4527A0);
    background: -moz-linear-gradient(right,#7B1FA2, #4527A0);
    
}    

.allerede-registreret {
    text-align: center;
    color: #707070;
    font-family: "runda",sans-serif;
}

.login {
    text-align: center;
    color: #707070;
    font-family: "runda",sans-serif;
    text-decoration: underline;
}