<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/profil-nav-bar.css">
</head>
<body>
    <nav class="profilnav__bar">
        <ul class="profilnav__bar__ul">
            <li class="profilnavbar__ul__li" ><a class="nav__ul__a nav__ul__a--highlight" href="">om</a></li>
            <li class="profilnavbar__ul__li"><a class="nav__ul__a" href="">favoritter</a></li>
            <li class="profilnavbar__ul__li"><a class="nav__ul__a" href="">galleri</a></li>
        </ul>
    </nav>
</body>
</html>