.loginbutton{
    width: 80%;
    height: auto;
    font-size: 20px;
    margin: 0 auto;
    cursor: pointer;
    display: block;
    height: auto;
    padding: 20px 0;
    width: 80%;
    border: 0px;
    color: white;
    border-radius: 2px;
    background-color:#7B1FA2;
    background: linear-gradient(to left,#7B1FA2, #4527A0);
    background: -webkit-linear-gradient(right,#7B1FA2, #4527A0);
    background: -moz-linear-gradient(right,#7B1FA2, #4527A0);
     
}
