.loginbutton{
    width: 80%;
    height: 45px;
    font-size: 20px;
    margin: 30px;
    cursor: pointer;
    display:flex;
    justify-content:center;
    border: 0px;
    color: white;
    border-radius: 2px;
    background-color:#7B1FA2;
    background: linear-gradient(to left,#7B1FA2, rgb(103, 4, 233));
    background: -webkit-linear-gradient(right,#7B1FA2, rgb(103, 4, 233));
    background: -moz-linear-gradient(right,#7B1FA2, rgb(103, 4, 233));
     
}
